%ata-btn-base {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
    box-shadow: 0 5px 5px 2px $ata-dark-light;

    cursor: pointer;
}

// BUTTON VARIATIONS
.ata-btn-big {
    @extend %ata-btn-base;
    width: 640px;
    height: 360px;
}

.ata-btn-medium-big {
    @extend %ata-btn-base;
    width: 160px;
    height: 90px;
}

.ata-btn-medium-small {
    @extend %ata-btn-base;
    width: 120px;
    height: 67.5px;
}

.ata-btn-long {
    @extend %ata-btn-base;
    width: 160px;
    height: 45px;
}

.ata-btn-small {
    @extend %ata-btn-base;
    width: 64px;
    height: 36px;
}