// BUTTONS
.ata-btn-big {
    width: 640px;
    height: 360px;

    border-width: 5px;
    border-style: solid;
    border-radius: 15px;

    box-shadow: 0 5px 5px 2px $ata-dark-light;

    text-align: center;
    align-items: center;
}

.ata-btn-medium-big {
    width: 160px;
    height: 90px;

    border-width: 5px;
    border-style: solid;
    border-radius: 15px;

    box-shadow: 0 5px 5px 2px $ata-dark-light;
    
    text-align: center;
    align-items: center;
}
.ata-btn-medium-small {
    width: 120px;
    height: 67.5px;

    border-width: 5px;
    border-style: solid;
    border-radius: 15px;

    box-shadow: 0 5px 5px 2px $ata-dark-light;
    
    text-align: center;
    align-items: center;
}

.ata-btn-long {
    width: 160px;
    height: 45px;

    border-width: 5px;
    border-style: solid;
    border-radius: 15px;

    box-shadow: 0 5px 5px 2px $ata-dark-light;
    
    text-align: center;
    align-items: center;
}

.ata-btn-small {
    width: 64px;
    height: 36px;

    border-width: 5px;
    border-style: solid;
    border-radius: 15px;

    box-shadow: 0 5px 5px 2px $ata-dark-light;
    
    text-align: center;
    align-items: center;
}