.ata-select-small {
    width: 180px;
    height: 320px;

    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
}
.ata-select-big {
    width: 360px;
    height: 480px;

    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
}