// SELECT
.ata-select-small {
    width: 180px;
    height: 320px;

    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
}
.ata-select-small {
    width: 360px;
    height: 480px;

    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
}



// OPTION
.ata-option-small {
    width: 170px;
    height: 45px;

    border-width: 5px;
    border-style: solid;
    border-radius: 15px;

    text-align: center;
    align-items: center;
}
.ata-option-big {
    width: 350px;
    height: 90px;

    border-width: 5px;
    border-style: solid;
    border-radius: 15px;

    text-align: center;
    align-items: center;
}