.ata-h1 {
    font-family: "JetBrainsMono Nerd Font Propo";
    font-weight: bolder;
    font-size: 40;
}

.ata-h2 {
    font-family: "JetBrainsMono Nerd Font Propo";
    font-weight: bold;
    font-size: 30;
}

.ata-h3 {
    font-family: "JetBrainsMono Nerd Font Propo";
    font-weight: bold;
    font-size: 20;
}

.ata-text {
    font-family: "JetBrainsMono Nerd Font Propo";
    font-weight: normal;
    font-size: 15;
}