.ata-h1 {
    font-weight: bolder;
    font-size: 40px;
}

.ata-h2 {
    font-weight: bold;
    font-size: 30px;
}

.ata-h3 {
    font-weight: bold;
    font-size: 20px;
}

.ata-h1, .ata-h2, .ata-h3 {
    font-family: "JetBrainsMono Nerd Font Propo";
    text-align: center;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}



.ata-text {
    font-weight: normal;
    font-size: 15px;

    font-family: "JetBrainsMono Nerd Font Propo";
    text-align: center;
}