  $ata-main: #d6cab2;
  
  $ata-accent: #706857;
  $ata-accent-dark: #504635;
  
  $ata-accent-secondary: #c76248;
  $ata-accent-tertiary: #6eb2a3;

  $ata-accent-secondary-dark: #b65135;
  $ata-accent-tertiary-dark: #5da192;

  $ata-black: #101429;
  $ata-black-light: #21253a